.navbar1 {
    background-color: rgb(233, 139, 139);
    text-align: center; /* Centra los elementos dentro de la barra de navegación */
  }
  
  .navbar1-container {
    display: inline-block; /* Cambia el display para permitir centrado horizontal */
  }
  
  .navbar1-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* Cambia el display para permitir centrado horizontal */
    
  }
  
  .navbar1-item {
    display: inline; /* No necesitas este estilo, ya que los elementos están dentro de la lista */
    
  }
  
  .navbar1-link {
    display: inline-block;
    padding: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 10px;
  }
  
  .navbar1-link:hover {
    background-color: #555;
  }
  
  .navbar1-logo {
    width: 10%; /* Tamaño del logo */
    height: auto; /* Para mantener la proporción */
    margin-right: 20px; /* Espacio entre el logo y los enlaces */
    margin-top: 10px;
  }
  